*
    margin 0
    padding 0
html 
    height 100%


body 
    height 100%
    background rgb(237, 226, 137)
    background linear-gradient(145deg, rgba(237, 226, 137, 1) 0%, rgba(254, 230, 214, 1) 35%, rgba(230, 199, 238, 1) 100%)

.test
    color red
    background-color blue