doctype html
head
    block title
    block style
    link(type="text/css" rel="stylesheet" href="/css/footer.css")
    meta(charset="utf8")
    
body
    block content
    include ../footer.pug

    block scripts