extend layouts/layout-in.pug
block title
  title Main page
block style 
  link(rel="stylesheet" type="text/css" href="/css/index_styles.css")
block content
  div.grid-container
    div.grid-item-1.color1.border 1
    div.grid-item-2.color2.border 2
    //-div.grid-item-3.color3.border 3
    div.grid-item-4.color4.border 4
      p.text-center Information about order
      //- gc = grid container; gi = grid item ; oi = order-info
      div.grid-item-4__subgrid
        div.subgrid__item-1
          button.b-1(onclick="openTab('order')") Заказ
        div.subgrid__item-2
          button.b-2(onclick="openTab('details')") Детали
        div.subgrid__item-3
          button.b-3(onclick="openTab('marks')") Отметки
        div.subgrid__item-4
          div.subgrid__item__content
            div#order.tabs
              table#t-order-info.border.text-center
                thead.border
                  th Наименование
                  th Количество
                  th Цена
                  th Стоимость
                tbody
                  tr.order-row
                    td Пирог
                    td
                      span.border -
                      input.text-center(type="text" value=2)
                      span.border +
                    td 200
                    td 400
                  
            div#details.tabs(style="display:none") Order details
            div#marks.tabs(style="display:none") Order marks
        p bla bla bla 
    //-Отображение категорий товаров
    div.grid-item-5.color4.border
      if categories
        each val in categories
          div.category
            button(onclick="openCategory("+val.c_id+")") #{val.name}

    //-Отображение всех продуктов
    div.grid-item-6.color4.border
    
block scripts
  script(src="./js/openTab.js")
  script(src="./js/openCategory.js")
    
    