extend layouts/layout-in.pug
block title
  title Main page
block style 
  link(rel="stylesheet" type="text/css" href="/css/index_styles.css")
block content
  div.grid-container
    div.grid-item1.color1.border 1
    div.grid-item2.color2.border 2
    div.grid-item3.color3.border 3
    div.grid-item4.color4.border 4
    div.grid-item5.color4.border 5
    div.grid-item6.color4.border 6

block scripts