extend layouts/layout.pug
block title
  title Login page
block style
  link(rel="stylesheet" type="text/css" href="/css/login_styles.css")
block content
  div.grid-container        
      div.grid-item__login-form
        div.grid-item__header
          h2 Login
          form(action='/login' method="POST")
            div.form-group
              label(for="username")
              input.form-control( id="username" name="username" type="text" placeholder="Enter user name" )
            div.form-group
              label(for="password")
              input.form-control(id="password" name="password" type="text" placeholder="Password")

            button.btn-submit(type="submit") Войти
            div.container-error

block scripts
  if error != ""
    script.
      const error = "#{error}"
      let text
      switch (error) {
        case "Missing credentials":
          text = document.createTextNode("Небыли введены данные.")
          break;
        case "Incorrect password":
          text = document.createTextNode("Некорректный пароль.")
          break;
        case "User with that name does not exist":
          text = document.createTextNode("Пользователь с таким именем не существует")
          break;
        default:
          text = ""
          break;
        }
      const node = document.querySelector("div.container-error")
      const elt = document.createElement("p")
      if (text.length != 0) {
        elt.className = "alert"
        elt.appendChild(text)
        node.appendChild(elt)
      }




  //p.alert.alert-danger(role="alert").
  //Не был введен логин или пароль. Повторите попытку


