extend layouts/layout.pug
block title
  title Login page
block style
  link(rel="stylesheet" type="text/css" href="/css/login_styles.css")
block content
  div.grid-container        
      div.grid-item__login-form
        div.grid-item__header
          h2 Login
          form(action='/login' method="POST")
            div.form-group
              label(for="username")
              input.form-control( id="username" name="username" type="text" placeholder="Enter user name" )
            div.form-group
              label(for="password")
              input.form-control(id="password" name="password" type="text" placeholder="Password")

            button.btn-submit(type="submit") Войти
            div.container-error

block scripts
  //- Перевод текста об ошибке логирования    
  if error !=""
    script(src="./js/login/login-errors.js")
    script.
      showErr("#{error}")
    



