extend layouts/layout.pug
block title
  title Login page
block style
  link(rel="stylesheet" type="text/css" href="/css/login_styles.css")
block content
  div.root_login_containter
    ul.menu
      li 
        a.info(href="about.html") Дополнительная информация
      
      form(action="/login" method="POST")
        div.login_cantainer
          div
            //label(for="username") Username:
            input(type="text" id="username" name="username" value="user name")
          div
            //label(for="password") Password:
            input(type="text" id="password" name="password" value="password")
          button.btn_enter(type="submit") Войти
    div.error_containter
      if error
        h4.error #{error}
block scripts
  script
    include ../javascripts/login.js
  script(type='text/javascript').
    
