extend layouts/layout.pug
block title
  title Login page
block style
  link(rel="stylesheet" type="text/css" href="/css/login_styles.css")
block content
  div.container-custom
    div.container
      h5 Login page
    div.container
      form(action='/login' method="POST")
        div.form-group
          label(for="username")
          input.form-control(id="username" name="username" type="text" placeholder="Enter user name" )
        div.form-group
          label(for="password")
          input.form-control(id="password" name="password" type="text" placeholder="Password")
        div.form-group.form-check
          input.form-check-input(type="checkbox" id="check1")
          label.form-check-label(for="check1") Check me out
        button.btn.btn-primary(type="submit") Войти
        div.container-error
block scripts
  if error != ""
    script.
      const error = "#{error}"
      let text
      switch (error) {
        case "Missing credentials":
          text = document.createTextNode("Небыли введены данные.")
          break;
        case "Incorrect password":
          text = document.createTextNode("Некорректный пароль.")
          break;
        case "User with that name does not exist":
          text = document.createTextNode("Пользователь с таким именем не существует")
          break;
        default:
          text = ""
          break;
        }
      const node = document.querySelector("div.container-error")
      const elt = document.createElement("p")
      elt.className = "alert alert-danger"
      elt.setAttribute('role', 'alert')
      if (text.length != 0) {
        elt.appendChild(text)
        node.appendChild(elt)
      }




  //p.alert.alert-danger(role="alert").
  //Не был введен логин или пароль. Повторите попытку


