div.container-sm
  nav.navbar.navbar-expand-lg.navbar-light.justify-content-between
    a.navbar-brand(href="/") HomePies

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    
    div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav.text-center
            li.nav-tem.active
                a.nav-link(href="/") 
                    img.img-font-size(src="icons/plus.png")
                    div Новый заказ
            li.nav-tem.active
                a.nav-link(href="#") 
                    img.img-font-size(src="icons/list.png")
                    div Заказы
            li.nav-tem.active
                a.nav-link(href="#") 
                    img.img-font-size(src="icons/terms-and-conditions.png")
                    div Справочники
            li.nav-tem.active
                
                a.nav-link(href="#") 
                    img.img-font-size(src="icons/garage-closed.png")
                    div Склад
            li.nav-tem.active
                a.nav-link(href="#") 
                    img.img-font-size(src="icons/keypad.png")
                    div Статистика
            li.nav-tem.active
                a.nav-link(href="#") ...

        
    div
        form.form-inline.my-2.my-lg-0(action="/logout?_method=DELETE" method="POST")
            div.d-col.text-center
                div.text-info Пользователь #{user}
                button.sbmt(type="submit") Exit                       
            