html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: linear-gradient(to top right, rgb(199, 113, 80), rgb(204, 123, 85), rgb(209, 134, 91), rgb(214, 144, 96), rgb(219, 155, 101), rgb(224, 165, 106), rgb(230, 176, 112), rgb(235, 186, 117), rgb(240, 197, 122), rgb(245, 207, 127), rgb(250, 218, 133), rgb(255, 228, 138));
    overflow: auto;
}