*
    margin 0
    padding 0
html 
    height 100%
body 
    height 100%
    background-color rgba(173, 221, 255, 1) !important
nav 
    background-color:rgba(148,233,216,0.8)
    
nav *
    //color rgba(37,191,160,1) !important
   // text-shadow 0 0 1px  black

.d-col .sbmt
    background none
    border none

.img-font-size
     width 2.5em