*
    margin 0
    padding 0
html,body    
    font-family: Helvetica, arial;
    width: 100%;
    height: 100%;
    color: white;
    font-size 24px
    background-color rgba(173, 221, 255, 1)

.grid-container
    display grid
    height 100vh
    grid-template-columns repeat(3,1fr)
    grid-template-rows  repeat(3,1fr)
    text-align center

    grid-template-areas ". . ."\
                        ". login ."\ 
                        ". . ."
.grid-item__login-form
    grid-area login
    display grid
    justify-items center

.form-control, .btn-submit
    width 20em
    height 2em
    border none

.btn-submit
    background-color rgb(70,150,220)
    color white
    font-weight bold

.grid-item__header, .btn-submit
    text-shadow 0 0 2px black
.alert
    margin-top 5px
    padding 10px
    background-color rgba(240,130,150,0.7)
    font-weight bold

@media (max-device-width:480px)
    .grid-container
        display grid
        height 100vh
        grid-template-columns repeat(3,1fr)
        grid-template-rows  repeat(3,1fr)
        grid-template-areas ". . ."\
                            "login login login"\ 
                            ". . ."
    .grid-item__login-form
        justify-items stretch
    .form-control, .btn-submit
        width 100%
    form
        margin 5px
    .alert
        font-size 0.85em