*
    padding 0
    margin 0


html 
    height 100%


body 
    height 100%
    background rgb(237, 226, 137)
    background linear-gradient(145deg, rgba(237, 226, 137, 1) 0%, rgba(254, 230, 214, 1) 35%, rgba(230, 199, 238, 1) 100%)


.root_login_containter 
    background-color rgba(254, 230, 214, 0.5)
    position absolute
    left 50%
    top 50%
    border 5px solid
    border-image linear-gradient(to bottom, #FFc7a1, rgba(0, 0, 0, 0)) 1 100%
    width 300px
    height 140px
    margin-top -70px
    margin-left -150px


.login_cantainer 
    text-align center


ul.menu 
    margin-top 5px
    margin-bottom 2px
    text-align center


ul.menu>li 
    display inline-block
    list-style-type none
    background #fee6d6
    padding 5px
    margin-right 2px
    margin-left 1px
    border 3px solid
    border-image linear-gradient(to bottom, #FFc7a1, rgba(0, 0, 0, 0)) 1 100%


input 
    display table-cell
    background-color blanchedalmond
    color grey
    vertical-align middle
    text-align center


.btn_enter 
    background-color rgba(230, 199, 238, 1)


input, .btn_enter 
    border 0
    padding 5px 0
    width 205px


a 
    text-decoration none


.error_containter 
    text-align center
    color red
    margin 10px
    margin-top -15px